<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Office Checker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/e9bd78e7b4.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-md navbar-toggleable-sm border-bottom navbar-dark bg-dark box-shadow mb-3">
                        <a class="navbar-brand text-nowrap d-none d-sm-block" style="color: white;">Office Checker</a>
                            <form asp-page="/SitePages/Full" method="get" class="text-nowrap searchh">
                                <div class="form-actions no-color">
                                    <p>
                                        <input type="text" name="SearchString" placeholder="Address" value="" />
                                        <input type="submit" value="Search" class="btn btn-primary" />
                                    </p>
                                </div>
                            </form>
                            <!--Button-->
                            <button class="navbar-toggler buttonn" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                                                                                                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span> 
                            </button>
                            <div class="collapse navbar-collapse text-center" id="bs-example-navbar-collapse-1">
                            
                            
                            <!--Nav bar elements-->
                            <ul class="navbar-nav nav-fill w-50 listt">
                                <li class="nav-item"> 
                                    <a class="nav-link"asp-area="" asp-page="/Offices/Index">
                                        <span  class="input-group-addon">
                                            <i class="fa fa-home fa-2x iconss">
                                                <h5>Home</h5>
                                            </i>
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item"> 
                                    <a class="nav-link"asp-area="" asp-page="/SitePages/Feedback">
                                        <span  class="input-group-addon">
                                            <i class="fa fa-comment-alt fa-2x iconss">
                                                <h5>Feedback</h5>
                                            </i>
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item"> 
                                    <a class="nav-link"asp-area="" asp-page="/SitePages/Admin">
                                        <span  class="input-group-addon">
                                            <i class="fa fa-edit fa-2x iconss">
                                                <h5>Edit</h5>
                                            </i>
                                        </span>
                                    </a> 
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Office Checker
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>