@page
@model OfficeChecker.Pages.SitePages.FormModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container" style="margin-top:30px" >
  <div class="row">
      <!--home office box[tom] -->

    <div class="col-sm-6" style="">
        <div class="header">
            <h2>Edit Office:[office name]</h2>
        </div>
        <form action="">
            <label for="lname">Location Name:</label>
            <input type="text" id="lname" name="lname">
            <br>

            <label for="ltype">Location Type:</label>
            <input type="text" id="ltype" name="ltype">
            <br>

            <label for="munit">Market Unit:</label>
            <input type="text" id="munit" name="munit">
            <br>

            <label for="city">City:</label>
            <input type="text" id="city" name="city">
            <br>

            <label for="adrss">Address:</label>
            <input type="text" id="adrss" name="adrss">
            <br>

            <label for="adrss">Address:</label>
            <input type="text" id="adrss" name="adrss">
            <br>
            
            <label for="phone">Telephone:</label>
            <input type="text" id="phone" name="phone">
            <br>
            
            <label for="dcode">Dress Code:</label>
            <input type="text" id="dcode" name="dcode">
            <br>

            <p>Additional Info:</p>
            <textarea id="ainfo" name="ainfo" rows="4" cols="50" placeholder="Comment Here:"></textarea>
        </form>
    </div>
    <!--covid box -->

    <div class="col-sm-6" style="height: 250px">
        <form action="">
            <label for="oserv">Office Services:</label>
            <input type="text" id="oserv" name="oserv">
            <br>

            <label for="tsupp">Tech Support:</label>
            <input type="text" id="tsupp" name="tsupp">
            <br>

            <label for="rspace">Reservable Space:</label>
            <input type="text" id="rspace" name="rspace">
            <br>
            <br>

            <label for="ostat">Office Status:</label>
            <input type="text" id="ostat" name="ostat">
            <br>

            <label for="fcover">Face Coverings:</label>
            <input type="text" id="fcover" name="fcover">
            <br>

            <label for="cvisit">Clients/Visitors:</label>
            <input type="text" id="cvisit" name="cvisit">
            <br>
            
            <label for="scons">Special Considerations:</label>
            <input type="text" id="scons" name="scons">
            <br>
            
            <label for="tcheck">Temp Checking:</label>
            <input type="text" id="tcheck" name="tcheck">
            <br>

            <p>Details on Special Considerations:</p>
            <textarea id="dscons" name="dscons" rows="4" cols="50" placeholder="Comment Here:"></textarea>
        </form>
    </div>
    <!--clear|cancel -->
    <div class="col-sm-12">
        <button type="button">Clear Office Info</button>
        <button type="button">Cancel</button>
        <button type="button">Submit</button>
    </div>
    
  </div>
</div>