@{
    ViewData["Title"] = "Home Page";
}

<div class="container row d-flex justify-content-center" style="margin-top:30px" >
    <div class="row">
        <div class="col-sm-8" style="">
            <!--Top half [tom] -->
            <div class="header">
                <h2>Feedback</h2>
            </div>
            <div class="">
                <p>How would you rate your experience?</p>
                <form>
                <input type="checkbox" name="rating" id="rating" value="">
                <input type="checkbox" name="rating" id="rating" value="">
                <input type="checkbox" name="rating" id="rating" value="">
                <input type="checkbox" name="rating" id="rating" value="">
                <input type="checkbox" name="rating" id="rating" value="">
                </form>
            </div>
            <!--bottom half [tom] -->

            <p>Tell us why:</p>
            <textarea id="" name="" rows="4" cols="50" placeholder="Comment Here:"></textarea>
            <div class="">
                <button type="button">Cancel</button>
                <button type="button">Submit</button>
            </div> 
        </div>
    </div>
</div>